
.change-status {
  background-color: green;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.change-status:hover {
  background-color: darkgreen;
}


th, td {
  padding: 1%; 
  text-align: left;
  border-bottom: 1px solid #ddd;
  width: inherit;
  /* text-wrap:wrap;
  text-overflow: ellipsis; */
}

th {
  background-color: #f4f2f2;
  position: sticky; 
  top: 0;
  height: 80px;
}

table {
  border-collapse: separate;
  border-spacing: 0px 4px; 
  width: inherit;
}

tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}

tbody tr:nth-child(even) {
  background-color: #e7e7e7; 
}

tr:hover {
  background-color: #ececec;
}
.container {
  /* background-color: #f33333; */
}
h1, h2 {
  text-align: center;
}
  